{{#each newsItem}}
    <li>
        <a href="{{link}}">
            <div class="pic"><img src="{{placeImg}}" alt="some img"></div>
            <h2>{{newsHeader2}}</h2>
            <h3>{{newsRec}}</h3>
            <p>{{newsDate}}</p>
        </a>
    </li>
{{/each }}